/*	--------------------------------------------------
Global Reset - Resets all browser defaults to 0
-------------------------------------------------- */
body { background:#eef6fa; color:#444;  }
.posts h2 a, .posts p a:hover, a { color:#3a739f; }


.more a { font-size:12px; }
p { margin:0; padding:0; }

a:hover, .posts h2 a:hover, .posts p a { color:#000; }

hr { color:#fffdea; border:none; border-top:1px dotted #372322; }
.hr2 { color:#fffdea; border:none;  }
/* headings ---------------------- */
#inner_pages h1 {color:#3a739f;   } 
h1,h2,h3,h4,h5,h6 { color:#285170; }
.container_border { }

/* Structure ---------------------- */
#top_strip { background:#5e91b5 url(1-default/top_strip_shadowbg.png) repeat-x left bottom; }
#main_navi { background:url(1-default/main_navbg.png) repeat-x left top;  }

#wrapper { background:url(1-default/wrapperbg.png) repeat-y left top; }
.nav_left { background:url(1-default/top_nav_left.png) no-repeat left top; }
.nav_right { background:url(1-default/top_nav_right.png) no-repeat right top; }

#bottom { background:url(1-default/bottombg.png) no-repeat left top; }
.fullpage_bg { background:url(1-default/fullpagebg.png) repeat-y left top !important;}
.fullpage_bottombg { background:url(1-default/fullpage_bottombg.png) repeat-y left top!important; }

.wrapperbg_left { background:url(1-default/wrapperbg_left.png) repeat-y left top !important; }



a.b_sbumit { color:#fff; text-shadow:1px 1px 1px #000; background:url(1-default/b_submitevent.png) no-repeat left top; border:1px solid #286182; cursor:pointer; 
-moz-box-shadow: 1px 1px 1px #c8cfd2; /* Firefox */
-webkit-box-shadow: 1px 1px 1px #c8cfd2; /* Safari, Chrome */
box-shadow: 1px 1px 1px #c8cfd2; /* CSS3 */ }
a:hover.b_sbumit { background-position:0 -40px; color:#fff;}

#header_outer { background:#3a739f; }

.content_sub_sidebar_right { border-left:1px solid #e2e2e2; border-right:1px solid #e2e2e2;   }
#content h1.cat_head  {  color:#3a739f; border-bottom:1px solid #e5e5e5; }

 

/* header ---------------------- */
#header .blog-title a{ color:#285170;   }
#header .blog-title a:hover{color:#333; }
#header .blog-description{ color:#666; }

#searchform { background:#eef6fa;   } 
#searchform .b_search  { border:none; background:url(1-default/i_search.png) no-repeat left top;  }


#header p.general_statics { color:#707070;  }
#header p.general_statics span { color:#3c75a0; }


/* home page featured event slider -------------*/
.h_featured { background:url(1-default/h_featured.png) no-repeat left top; color:#fff; text-shadow:1px 1px 1px #000; }
.pika-image { background: #fff; border: 1px solid #bfdcf2; }
.pika-image img {border:0;}

#content .pika-image .caption { background: url(../images/75-black.png);  border: 1px solid #141414; color: #fafafa; }
#content .pika-image small { color:#bebebe; }
.pika-imgnav a.previous {background: url(../images/prev.png) no-repeat left 50%; }
.pika-imgnav a.next {background: url(../images/nextn.png) no-repeat right 50%; }
.pika-imgnav a.play {background: url(../images/play.png) no-repeat 50% 50%; }
.pika-imgnav a.pause {background: url(../images/pause.png) no-repeat 50% 50%; }

#content .pika-textnav a { color: #333; }
#content .pika-textnav a:hover {background: #e5e5e5; color: #0065B2;}
	
#content .pika-thumbs li { background: #fafafa; border: 1px solid #e5e5e5; }

/* jCarousel Styles */
#content .jcarousel-skin-pika .jcarousel-item-placeholder { background: #fff; color: #000; }



/* grid view ------------ */
#content .category_grid_view li { background:none; }
#content .category_grid_view li span.readmore a { color:#444; float:right; background:url(1-default/i_more.png) no-repeat right 5px; }
#content .category_grid_view li span.readmore a:hover { color:#3a739f; }
#content .category_grid_view li a.post_img { box-shadow: 1px 1px 1px #ddd; -moz-box-shadow: 1px 1px 1px #ddd; -webkit-box-shadow: 1px 1px 1px #ddd;
border:1px solid #e2dfdf; background:#fff;  }
#content .category_grid_view li .ping { color:#8b8b8b;  background:url(1-default/i_ping.png) no-repeat left 5px; }
#content .category_grid_view li .ping a { color:#8A8A8A; }
#content .category_grid_view li .ping a:hover { color:#000; }

/* event listing ---------------*/
.event_list { background: url(1-default/hr.png) repeat-x left bottom; border-bottom:1px solid #d7e3ec; }
a.event_img { background:#fff; border:1px solid #bbd2e1; -moz-box-shadow: 2px 2px 2px #bccdd8; /* Firefox */
-webkit-box-shadow: 2px 2px 2px #bccdd8; /* Safari, Chrome */
box-shadow: 2px 2px 2px #bccdd8; /* CSS3 */ }


.event_list_featured {   background:#eff6fa; border:1px solid #bbd2e1; 
-moz-box-shadow: 2px 2px 2px #bccdd8; /* Firefox */
-webkit-box-shadow: 2px 2px 2px #bccdd8; /* Safari, Chrome */
box-shadow: 2px 2px 2px #bccdd8; /* CSS3 */  }

#content .event_list_featured p.date { border-right:1px solid #becfdc; }
#content .event_list p.bottom { border-top:1px solid #eef3f7; color:#a0a0a0; }
#content .event_list p.bottom { border-top:1px solid #becfdc;  }

#content .event_list a.read_more { background:url(1-default/arrow.png) no-repeat right 9px; }


.featured_tag { background:url(1-default/featured_tag.png) no-repeat left top; }


#content .event_list h3 { color:#356f9c; border-bottom:none;  }
#content .event_list h3 a { color:#356f9c; }
#content .event_list h3 a:hover { color:#000; }


.tabber .category { border:1px solid #c0c0c0; background:#fff; }


/* spotlight news ----------------------- */
#content .realated_post li .video_main { border:1px solid #C9C9C9;  }

/* grid view ------------ */
#content .twocolumns h3 { background:#578bb1; color:#fff; border-bottom:2px solid #3b617c;  }
#content .twocolumns .widget h3 { color:#fff; }

#content .twocolumns .listingview li { border-bottom:1px solid #eef3f7; background:none; position:relative; } 
#content .twocolumns .listingview li h3 { background:none; border-bottom:none; }
#content .twocolumns .listingview li p { color:#777; }
#content .twocolumns .listingview li p span { color:#333; }
#content .twocolumns .listingview li a.post_img { border:1px solid #bfdcf2;  }

#content .twocolumns .listingview li .featured_img_s { background:url(1-default/featured_s.png) no-repeat left top;  }


/* list view ----------------- */
#content .category_list_view li { background:none; }
#content .category_list_view li h3 a.pcomments, #content .category_list_view li a.pcomments { color:#8b8b8b; background:url(1-default/i_comment2.png) no-repeat left 2px;  }
#content .category_list_view li h3 a:hover.pcomments, #content .category_list_view li a:hover.pcomments { color:#000;}
#content .category_list_view li .content a.pcomments { border-bottom:1px solid #e5e5e5; }
#content .category_list_view li a.ping { color:#8b8b8b; background:url(1-default/i_ping.png) no-repeat left 2px;  }
#content .category_list_view li a:hover.ping { color:#000;}
#content .category_list_view li .content .rating { border-bottom:1px solid #e5e5e5; }

#content .category_list_view li p { color:#777; }
#content .category_list_view li p.address { color:#969696; }

#content .category_list_view li .featured_img { background:url(1-default/featured.png) no-repeat right top;  }


a.post_img { box-shadow: 1px 1px 1px #ddd; -moz-box-shadow: 1px 1px 1px #ddd; -webkit-box-shadow: 1px 1px 1px #ddd; border:1px solid #e2dfdf; background:#fff; }

#content .category_list_view li span.readmore a { color:#000; float:left; background:url(1-default/i_more.png) no-repeat 65px 4px; }
#content .category_list_view li span.readmore a:hover { color:#3a739f; }
#content .category_list_view li:last-child { border-bottom:none; }

.sidebar_map { box-shadow: 1px 1px 1px #ddd; -moz-box-shadow: 1px 1px 1px #ddd; -webkit-box-shadow: 1px 1px 1px #ddd; border:1px solid #e2dfdf; background:#fff; }


#content .category_list_view li p.timing { border-right:1px solid #eee; }
#content .category_list_view li p.address span, #content .category_list_view li p.timing span { color:#333; }

#content .category_list_view li p.bottom { border-top:1px solid #eef3f7;  }


#sidebar .paddress { color:#777; }
#sidebar .ptiming, #sidebar .pcontact { color:#777; }
#sidebar .gmnoprint { color:#777; }

#recurring_events ul li.even {background-color: #EEF6FA;}

/* Post Pagination */
.pagination { border-top:3px solid #e5e5e5;   }
#content .pagination .i_next a { color:#777; background:url(1-default/i_next.png) no-repeat right 8px; }
#content .pagination .i_previous a { color:#777; background:url(1-default/i_previous.png) no-repeat left 8px; }
#content .pagination .i_next a:hover, #content .pagination .i_previous a:hover { color:#3a739f; }

/* listing page post nav */
#content .sort_by { background:url(1-default/tabber_sepretor.png) repeat-x left bottom; }
#content .sort_by li { background:none; color:#777; }
#content .sort_by li a { color:#868686; }
#content .sort_by li a:hover { color:#3a739f; }
#content .sort_by li.current a { color:#3a739f; background:url(1-default/tabbg.png) repeat-x left top; border:1px solid #3a739f; border-bottom:none; }
#content .sort_by li.i_next a { background:url(1-default/i_next.png) no-repeat right 9px; }
#content .sort_by li.i_previous a { background:url(1-default/i_previous.png) no-repeat left 9px; }

/*#breadcrumb section  =================================== */
.breadcrumb { color:#777; border-bottom:1px dotted #333;  } 
.breadcrumb_in { background:#fff;  }
.breadcrumb a { color:#3a739f;  }
.breadcrumb a:hover { color:#000; }

/* content ---------------------------- */
#content li { background:url(1-default/bullet_b.png) no-repeat left 6px; }
#content ol li { background:none; }

/* add listing form ------------------------------------------------------------*/
.form_row .textfield  { border:1px solid #ccc; border-left:1px solid #ddd; border-top:1px solid #ddd; }
.form_row .textarea { border:1px solid #ccc; border-left:1px solid #ddd; border-top:1px solid #ddd;  }
.form_row label span { color:#D70000;}
.form_row .textfield:focus, .form_row .textarea:focus, .form_row select:focus, #advancedsearch .form_row .adv_input:focus { border: 1px solid #000000; }

.required { color:#900; }
.message_note { color:#999; } 
#content p.note { color:#999; }

.b_review { background:#1f5f84 url(1-default/buttonbg.png) repeat-x left top; color:#fff; border:1px solid #1f5f84; -moz-border-radius:20px;  -webkit-border-radius:20px; text-shadow:1px 1px 1px #333;  }
.b_review:hover { background:#0d5577;  }

.b_submit { background:#1f5f84 url(1-default/buttonbg.png) repeat-x left bottom; color:#fff; border:1px solid #257499;
-moz-border-radius:15px;  -webkit-border-radius:15px; text-transform:uppercase; text-shadow:1px 1px 1px #333; }
.b_submit:hover { background:#0d5577;  }


input#submit, #show_recurring span, #hide_recurring span, .show_rec_ev span, #edit_fb_fields, #hide_fb_fields { padding:7px 20px; background:#1f6086 url(1-default/buttonbg.png) repeat-x left top; color:#fff; border:1px solid #333; text-shadow:1px 1px 1px #333; }
input#submit:hover, #show_recurring span:hover, #hide_recurring span:hover, .show_rec_ev span:hover, #edit_fb_fields:hover, #hide_fb_fields:hover { background:#225f81;  }
h5.form_title { border-bottom:1px solid #ddd; }

/* sidebar login_widget */
.login_form_l, .registration_form_box, .new_user_reg { border:3px double #9fb5c6; background:#f1f9ff;  }
.b_signin { background:#1f5f84 url(1-default/buttonbg.png) repeat-x left bottom; color:#fff; border:1px solid #1f5f84; -moz-border-radius:15px;  -webkit-border-radius:15px; margin-bottom:20px; text-shadow:1px 1px 1px #333; }
.b_signin:hover { background:#225f81;  }

#sidebar p.forgot_link { margin-left:98px; font:11px Arial, Helvetica, sans-serif; }


/* sidebar search form */
#sidebar #searchform #s { border:1px solid #ccc; background:#fff; }
#searchsubmit { background:url(1-default/b_search.png) no-repeat left top; }



/* spotlight news ----------------------- */
#content .widget h3, #comments_wrap h3, #respond h3 { color:#000; border-bottom:1px solid #ddd;   }
#content .realated_post h3 { color:#333;  border-bottom:1px solid #ddd; }

.login_form_l .b_signin_n, .b_signin, .b_registernow { background:#1f5f84 url(1-default/buttonbg.png) repeat-x left bottom; color:#fff; border:1px solid #1f5f84; -moz-border-radius:15px;  -webkit-border-radius:15px;  text-shadow:1px 1px 1px #333; }
.login_form_l .b_signin_n:hover, .b_signin:hover, .b_registernow:hover { background:#225f81;  }



/* preview & publish page */
.b_cancel { padding:7px 20px; background:#1f5f84 url(1-default/buttonbg.png) repeat-x left bottom; color:#fff; border:1px solid #1f5f84; -moz-border-radius:15px;  -webkit-border-radius:15px;  text-shadow:1px 1px 1px #333; }
.b_cancel:hover { background:#225f81;  }

.b_delete { padding:7px 20px; background:#1f5f84 url(1-default/buttonbg.png) repeat-x left bottom; color:#fff; border:1px solid #1f5f84; -moz-border-radius:15px;  -webkit-border-radius:15px;  text-shadow:1px 1px 1px #333; }
.b_delete:hover { background:#225f81;  }

 

/* list view*/
#content .category_list_view li { border-bottom:1px solid #cad8e2; background:url(1-default/hr.png) repeat-x left bottom;  }

#content .category_list_view li h3 { border-bottom:none; color:#3a739f;  }
#content .category_list_view li h3 a { color:#3a739f; }
#content .category_list_view li h3 a:hover { color:#333; }
 
/* post ---------------------------- */
#content span.comm-reply a { background:url(1-default/buttonbg.png) repeat-x left top; color:#fff; } 
#content span.comm-reply a:hover { background:#333;  }

.pos_navigation { border-bottom:1px solid #ccc;  }

#content .post_left a { background:url(../images/previous.png) no-repeat left 12px; color:#868686;  }
#content .post_right a { background:url(../images/next.png) no-repeat right 13px; color:#868686; } 
#content .post_left a:hover, #content .post_right a:hover { color:#000; }


.comment_post a { background:url(1-default/comment_bg.png) no-repeat;}
#comments .comment .meta-left .meta-wrap .gravatar_bg { background: url(1-default/gravatar_bg.png) no-repeat left top; }

#content span.comm-reply a { color:#fff; } 
#content span.comm-reply a:hover{ color:#e6f6ff; }

.posts { border-bottom:3px double #ccc;   }
.main_img { border:1px solid #ccc; background:#fff; }
.date { color:#858585;  }
.by { color:#858585; border-bottom:1px solid #e3e3e3; }
.category { color:#858585; background:url(../images/i_category.png) no-repeat left 0px; }

.tags { color:#858585;  background:url(../images/i_tags.png) no-repeat left 2px; }
.post_left a { color:#000; }
.post_left a:hover { color:#3a739f;}

.small_thumb img { border:1px solid #ccc; }  

.b_text { font:bold 12px Arial, Helvetica, sans-serif; color:#858585;  }

.bookmark { border-top:2px solid #ebebeb; }

.video_main { border:2px solid #ccc; }
code { background:#ccc; }

blockquote { background:url(1-default/quote.png) no-repeat;    } 
blockquote p { color:#333;  }
blockquote cite { color:#666; }

blockquote a { color:#333; }
blockquote a:hover { color:#000; }

.flickr img{ border:1px solid #ddd; background:#fff; }
.flickr img:hover{ border-color:#333 }


#content .posts p.date { color:#a9a9a9; }
#content .posts p.date a { color:#444; border-bottom:1px dotted #ccc; }
#content .posts p.date a:hover { color:#000; }


/* Post Pagination */

.pagination .on { background:#477da6 url(1-default/on.png) repeat-x left top ; color:#fff;  }
.pagination a { background:#94b5cd ; color:#fff; }
.pagination a:hover { background:#477da6; color:#fff; }

/* tabber -------------------------- */
.tabber { background:url(1-default/tabber_bottomline.png) repeat-x left bottom; }
#content .tab li a { color:#999;  }
#content .tab li a:hover { color:#578bb1;  }
#content .tab li.active a { background:#fff; border:2px solid #578bb1; border-bottom:none; background:#fff; color:#447ba5; }




/*#sidebar ----------------------- */
#sidebar h3 span.more, #content h3 span.more { background: url(../images/arrow.png) no-repeat right 6px; display:none;  }
#sidebar h3 span.more a, #content h3 span.more a { color:#3a739f; }
#sidebar h3 span.more a:hover, #content h3 span.more a:hover { color:#000; }

#sidebar h3 { color:#333; background:url(1-default/sidebar_head-bg.png) no-repeat right top; color:#fff; text-shadow:1px 1px 1px #333; border-bottom:none; }

.sidebar_l h3 { background:url(1-default/sidebar_headbg_left.png) no-repeat left top !important; }

 
#sidebar li  { color:#666; border-bottom:1px solid #d6dde1; background:url(1-default/bullet_b.png) no-repeat left 5px;    }
#sidebar li a { color:#427aa4; }
#sidebar li a:hover { color:#333; }
#sidebar li:last-child { border-bottom:none; }

#sidebar .widget a { color:#427aa4; }
#sidebar .widget a:hover, #sidebar .widget h3 a:hover { color:#333; }
#sidebar .widget h3 a { color:#fff; }

#sidebar .advt { background:#fff;  }

#sidebar .categories li span { background:#fff; background: url(1-default/cate_countbg.png) no-repeat left top; }

/* widget event search ------------------- */
.event_search .row .textfield { border:1px solid #99bcd7;  color:#666; background:#fff url(1-default/search_textfieldbg.png) no-repeat left top;   }
.event_search .row .select { border:1px solid #99bcd7; color:#666; background:#fff url(1-default/search_textfieldbg.png) no-repeat left top;  }

.event_search .row span { font:11px Arial, Helvetica, sans-serif; color:#a7aaab; display:block; padding:3px 0; }

.b_search_event { color:#fff; text-shadow:1px 1px 1px #333; background:url(1-default/b_search_events.png) no-repeat left top; border:none; }
.b_search_event:hover { background-position:0 -36px; }



/* wp calendar ----------- */
#calendar_wrap caption{ border-top:1px solid #1e3c53; border-bottom:1px solid #1e3c53; background:#1e3c53; color:#fff; }
#wp-calendar td { background:#dbe8f0; color:#1e3c53; border:1px solid #fff;  }
#wp-calendar th { color:#fff; background:#588aaf; }


/* subscribe section -----------*/
.subscribe .field { border:1px solid #accddd; background:#fff url(1-default/i_email.png) no-repeat left top; color:#777; }
#sidebar .bookmark  h3 { color:#333; background:none;  }
.bookmark { background:#ededed;  }
#sidebar .subscribe p { color:#5d7b91; }

#sidebar .subscribe .field { border:1px solid #ccc; }

.subscribe_form .btn_submit { background:#1e5d82 url(1-default/b_submitbg.png) repeat-x left top; border:none; color:#fff; text-shadow:1px 1px 1px #333; }
.subscribe_form .btn_submit:hover { background:#09283a; color:#fff;  }
.i_rss { position:absolute; right:0; top:15px; }


/* event deatail */
.register_msg { background:#f5fafc; border-top:1px solid #c5dae6; border-bottom:1px solid #c5dae6; }
a.b_register { color:#fff; text-shadow:1px 1px 1px #000; background:#1e5e83 url(skins/1-default/buttonbg.png) repeat-x left top; border:1px solid #286182; 
-moz-box-shadow: 1px 1px 1px #c8cfd2; /* Firefox */
-webkit-box-shadow: 1px 1px 1px #c8cfd2; /* Safari, Chrome */
box-shadow: 1px 1px 1px #c8cfd2; /* CSS3 */ }
a:hover.b_register { background:#082536; color:#fff;}


a.b_contact { background:url("1-default/buttonbg.png") repeat-x scroll left top #1F6086; color:#fff; border:1px solid #286182;  }
a:hover.b_contact { background:#225F81; color:#fff; text-shadow:1px 1px 1px #000; border:1px solid #286182; 
-moz-box-shadow: 1px 1px 1px #c8cfd2; /* Firefox */
-webkit-box-shadow: 1px 1px 1px #c8cfd2; /* Safari, Chrome */
box-shadow: 1px 1px 1px #c8cfd2; /* CSS3 */ }


.event_bookmark { border-bottom:1px solid #e5e5e5; border-top:1px solid #e5e5e5; }
#content p.bottom_line span.i_tag { background:url(1-default/i_tag.png) no-repeat left 4px; }
#content p.bottom_line span.i_category { background:url(1-default/i_category.png) no-repeat left 4px; }

.google_map { background:#d6e5ef; border-bottom:1px solid #d6e5ef;   }
.search_location input { background:url(1-default/location_searchbg.png) no-repeat left top; border:1px solid #cdcdcd; color:#666; }

a.b_getdirection { color:#fff; text-shadow:1px 1px 1px #000; background:#1e5e83 url(1-default/buttonbg.png) repeat-x left top; border:1px solid #286182; -moz-box-shadow: 1px 1px 1px #c8cfd2; /* Firefox */
-webkit-box-shadow: 1px 1px 1px #c8cfd2; /* Safari, Chrome */
box-shadow: 1px 1px 1px #c8cfd2; /* CSS3 */ }
a:hover.b_getdirection { background:#082536; color:#fff;}

.addthis_toolbox span.at300bs { background:url(1-default/i_sharethis.png) no-repeat left top !important; }


/* featured video */
#sidebar .featured_video { color:#3a739f; }
#sidebar .featured_video h4 a { color:#3a739f; }
.advt4widget { border:1px solid #d0d0d0; }


/* recent comments */
#sidebar .recent_comments li { background:none;  }
#sidebar .recent_comments li .avatar { background:#fff; border:1px solid #d5e6f0; -moz-box-shadow: 1px 1px 1px #d5e6f0; /* Firefox */
-webkit-box-shadow: 1px 1px 1px #d5e6f0; /* Safari, Chrome */
box-shadow: 1px 1px 1px #d5e6f0; /* CSS3 */ }
#sidebar .recent_comments li a.comment_excerpt { color:#777; }
#sidebar .recent_comments li a { color:#3a739f;  }
#sidebar .recent_comments li a:hover { color:#000; }
#sidebar .recent_comments li a.review { background:url(1-default/i_comment2.png) no-repeat left 2px; color:#8e8f8f; }
#sidebar .recent_comments li a:hover.review  { color:#000; }
#sidebar .recent_comments li .img_available { background:#eee; border:1px solid #ddd; }

#sidebar .recent_comments li img.thumb { border:1px solid #ddd; }
#sidebar .recent_comments li span.review { color:#777; }

/* sidebar - we_recommend widget slider */

 #sidebar .we_recommend_in { box-shadow: 2px 2px 2px #ddd; -moz-box-shadow: 2px 2px 2px #ddd; -webkit-box-shadow: 2px 2px 2px #ddd;
border:1px solid #e2dfdf; background:#fff; }

.we_recommend_in .nivoSlider a.nivo-imageLink { border:0; }
.we_recommend_in .nivo-caption { background:#000; color:#fff; }
.we_recommend_in .nivo-prevNav { background:url(../images/previous.png) no-repeat left top; }
.we_recommend_in .nivo-prevNav:hover { background:url(../images/previous.png) no-repeat left top; color:#fff;}
.we_recommend_in .nivo-nextNav { background:url(../images/next.png) no-repeat left top;}
.we_recommend_in .nivo-nextNav:hover {background:url(../images/next.png) no-repeat left top; }
.we_recommend_in .nivo-controlNav a { color:#fff;  }
.we_recommend_in .nivo-controlNav a { background:url(1-default/dot_n2.png) no-repeat ; border:none; color:#fff; }
.we_recommend_in .nivo-controlNav a:hover, .we_recommend_in  .nivo-controlNav a.active { background:url(1-default/dot_h2.png) no-repeat; }
#sidebar #slider2 { background:#fff; }


/*---------Top Pages Navigation for PAGES---------  */
.header_right ul li.welcome  { color:#B3DAFA;  }
.header_right ul li ul li { /* border-style: solid; border-width: 1px; border-color: #ccc #ccc #ccc;*/  }
.header_right ul li ul li.hover, .header_right ul li ul li:hover,  .header_right ul li ul li.current-cat:hover,  ul.dropdown li ul li.current_page_parent:hover, ul.dropdown li ul li.current_page_item:hover { color:#333;  }
.header_right ul li a { color:#b3dafa; background:url(1-default/top_nav_sepretor.png) no-repeat right 8px;}
.header_right ul li a:hover, .header_right li:hover a{ color:#fff;  }

.header_right ul li:last-child a { background:none; }

.header_right li:hover a { color:#fff;  }
.header_right li:hover ul li a { color:#fff;  border-left:none;  border-right:none; }


.header_right ul li.current_page_item a, 
.header_right ul li.current_page_parent a, 
.header_right ul li.current-menu-item a { color:#fff; }

.header_right ul li.current_page_item ul li a, 
.header_right ul li.current_page_parent ul li a, 
.header_right ul li ul li a, .header_right ul li ul li:last-child a { background:#00b3dc; color:#fff;  }

.header_right ul li.current_page_item ul li a:hover, 
.header_right ul li.current_page_parent ul li.current_page_item a, 
.header_right ul li.current_page_parent ul li a:hover, 
.header_right ul li ul li a:hover, 
.header_right ul li ul.sub-menu li a, 
.header_right ul li ul.sub-menu ul.sub-menu li a, .header_right ul li.current_page_parent ul li.current_page_item ul li a:hover { background:#0092b4; color:#fff; }

.header_right ul li ul li.current_page_parent a { background:#6d6d6d; }
.header_right ul li ul li.current_page_parent ul li.current_page_item a { background:#a0a0a0 !important; }
.header_right ul li ul li.current_page_parent ul li a, .header_right ul li ul li.current_page_item ul li a { background:#a0a0a0 !important; }
 .header_right ul li ul li.current_page_item ul li ul li a:hover { background:#6d6d6d !important; }
.header_right ul ul { width: 190px; margin-top:0px;  border:1px solid #c6c6c6; background:#0a91b0; }


/*---------Category Navigation for PAGES---------  */
#main_navi ul li ul li {  }
#main_navi ul li ul li.hover, #main_navi ul li ul li:hover,  #main_navi ul li ul li.current-cat:hover,  ul.dropdown li ul li.current-cat-parent:hover, ul.dropdown li ul li.current-cat:hover { color:#fff;  }
#main_navi ul li a { color:#d3ecff;  border-left:none;  border-right:none; text-shadow:1px 1px 1px #333;  }
#main_navi ul li a:hover, #main_navi li:hover a{ color:#fff;  text-shadow: 1px 1px 1px #333; border-bottom:none;  }

#main_navi li:hover a { color:#fff;   text-shadow: 1px 1px 1px #333;  }
#main_navi li:hover ul li a { color:#fff; background:#326b99; border-left:none;  border-right:none; }


#main_navi ul li.current-cat a, 
#main_navi ul li.current-cat-parent a, 
#main_navi ul li.current_page_item a, #main_navi ul li.current_page_parent a { padding: 12px 15px 13px 15px;  background:#fff url(1-default/nav_current.png) repeat-x left top; text-shadow:none; position:relative; color:#000; }

#main_navi ul li.current-cat ul li a, 
#main_navi ul li.current_page_parent ul li a, 
#main_navi ul li ul li a { background:#1c4a6d; color:#fff;  border-bottom:1px solid #fff; }

#main_navi ul li.current-cat ul li a:hover, 
#main_navi ul li.current-cat-parent ul li.current-cat a, 
#main_navi ul li.current-cat-parent ul li a:hover, 
#main_navi ul li ul li a:hover, 
#main_navi ul li ul.sub-menu li a, 
#main_navi ul li ul.sub-menu ul.sub-menu li a, #main_navi ul li.current-cat-parent ul li.current-cat ul li a:hover { background:#1c4a6d; color:#fff; }

#main_navi ul li ul li.current-cat-parent a { background:#b9c3ce ; }
#main_navi ul li ul li.current-cat-parent ul li.current-cat a { background:#b9c3ce!important; }
#main_navi ul li ul li.current-cat-parent ul li a, #main_navi ul li ul li.current-cat ul li a { background:#aab0b7 !important; }
#main_navi ul li ul li.current-cat ul li ul li a:hover { background:#b9c3ce !important; }

#main_navi ul li ul.sub-menu li a:hover,  
#main_navi ul li ul.sub-menu li.current-menu-item a, 
#main_navi ul li ul.sub-menu ul.sub-menu li a:hover, 
#main_navi ul li ul.children li.current-cat-parent li a {  background:#b9c3ce; color:#fff;   }

#main_navi ul ul { border-right:none; border-left:none; }

 


/*---------top strip navigation ---------  */
#top_strip_in ul li ul li { background:#aab0b7; }
#top_strip_in ul li ul li.hover, #top_strip_in ul li ul li:hover,  #top_strip_in ul li ul li.current-cat:hover,  ul.dropdown li ul li.current-cat-parent:hover, ul.dropdown li ul li.current-cat:hover { color:#fff; background:#aab0b7;  }
#top_strip_in ul li a { color:#eef6fa; border-left:none;  border-right:none;    }
#top_strip_in ul li a:hover, #top_strip_in li:hover a{ color:#fff; background:#3a739f; border-bottom:none;  }

#top_strip_in li:hover a { color:#bee3ff; background:#3a739f;    }
#top_strip_in li:hover ul li a { color:#bee3ff; background:#3a739f; border-left:none;  border-right:none; }

#top_strip_in ul li.current_page_item a, #top_strip_in ul li.current_page_parent a { background: #3a739f; color:#fff; }

#top_strip_in ul li.current-cat ul li a, 
#top_strip_in ul li.current-cat-parent ul li a, 
#top_strip_in ul li ul li a { background:#3a739f; color:#fff;   }

#top_strip_in ul li.current-cat ul li a:hover, 
#top_strip_in ul li.current_page_parent ul li.current_page_item a, 
#top_strip_in ul li.current-cat-parent ul li a:hover, 
#top_strip_in ul li ul li a:hover, 
#top_strip_in ul li ul.sub-menu li a, 
#top_strip_in ul li ul.sub-menu ul.sub-menu li a, #top_strip_in ul li.current-cat-parent ul li.current-cat ul li a:hover { background:#214e70; color:#fff; }

#top_strip_in ul li ul li.current-cat-parent a { background:#3a739f ; }
#top_strip_in ul li ul li.current-cat-parent ul li.current-cat a { background:#3a739f!important; }
#top_strip_in ul li ul li.current-cat-parent ul li a, #top_strip_in ul li ul li.current-cat ul li a { background:#3a739f !important; }
#top_strip_in ul li ul li.current-cat ul li ul li a:hover { background:#3a739f !important; }

#top_strip_in ul li ul.sub-menu li a:hover,  
#top_strip_in ul li ul.sub-menu li.current-menu-item a, 
#top_strip_in ul li ul.sub-menu ul.sub-menu li a:hover, 
#top_strip_in ul li ul.children li.current-cat-parent li a {  background:#3a739f; color:#fff;   }

#top_strip_in ul ul { width: 190px; margin-top:0px; }

 

/* twitter ------------------------- */
#sidebar #twitter h3 {}
#sidebar #twitter h3 a:hover { color:#eee; }
.twitter_post #twitter li { background:none !important; }

	  
/*---------ARCHIVE PAGE --------- */
.arclist ul li{ color:silver; border-bottom:1px solid #f1f1ed;  background:none }
.arclist ul li ul{ border-bottom:0; }
.arclist ul li ul li{ border-bottom:0;}
.arclist .archives-time{ color: #666666; }

/*---------COMMENTS --------- */

#comments .comment {background:none; }
#comments  p.authorcomment {   }
#comments  p.authorcomment a {  color:#666; }
#comments  p.authorcomment a:hover { color:#000; }


#comments .comment .meta-left { color:#aaaaaa }
#comments .comment .text-right {   background:#fff;   /* background:#e9e7e7 url(1-default/commentbg.png) no-repeat center left;*/ }

#comments .comment .authcomment{   background:#fff;  /* background:#ebebeb url(1-default/commentbg_author.png) no-repeat center left;*/   }
#comments .comment .authcomment p { color:#555; }
#comments .comment .text-right p a { color:#3a739f; text-decoration:none; }
#comments .comment .text-right p a:hover { color:#000; }

span.comm-reply{ color:#333; }
span.comm-reply a { color:#333;  }
span.comm-reply a:hover{ color:#000; }

#comments .comment .text-right p a.comment-reply-link { background:#fff url(../images/b_reply.png) repeat-x left bottom; border:1px solid #cdcdcd; color:#666; }
#comments .comment .text-right p a:hover.comment-reply-link  { color:#000; background:#fff; }

#content p.commpadd .author {  background:url(1-default/i_user.png) no-repeat left top; }
#content p.commpadd .email2 { background:url(1-default/i_email2.png) no-repeat left top; }
#content p.commpadd .site {  background:url(1-default/i_web.png) no-repeat left top; }
#content p.commpadd .comment2 { background:url(1-default/i_comment.png) no-repeat left top; }
#comments .comment .text-right p a.comment-reply-link { background:url(1-default/buttonbg.png) repeat-x left top; }


/* detail page slideshow ------------------ */
#previewPane { border:1px solid #ccc;}
#arrow_left{ background-color:#FFF;}
#arrow_right { background-color:#FFF; }
#theImages img { border:1px solid #ccc; }
#theImages img:hover { border:1px solid #333; }
#waitMessage { background-color:#FFF; border:3px double #000; color:#555; }


/* popup window ---------*/
#simplemodal-overlay { background-color:#000;}
.simplemodal-container { color:#666; background-color:#fff; border:4px solid #ddd; }
.simplemodal-container a.modalCloseImg {background:url(../images/x.png) no-repeat; }
.simplemodal-container h3 { color:#285170; border-bottom:1px solid #ccc; } 
.simplemodal-container .row  label  { color:#333; }
.simplemodal-container .row  input, .simplemodal-container .row  textarea { border:1px solid #ccc;}
.simplemodal-container .button { background:#333; color:#fff; border:none; }
.simplemodal-container .button:hover { background:#285170; }

 /* tabel calendar -------- */
table.calendar { background:#DBE8F0; }
table.calendar td.title { color:#fff; background:#1e3c53; border-bottom:1px solid #fff;  }
table.calendar_widget td.days { color:#1E3C53; background:#5084ab url(1-default/cal_daysbg.png) repeat-x left top; border-bottom:1px solid #fff; }
table.calendar_widget tr { color:#1e3c53; background:#dbe8f0; border-bottom:1px solid #fff;  }
table.calendar_widget td.date_n div:hover span.popup_event {  background:#fff; border:1px solid #ccc;  }
table.calendar_widget td.date_n { color:#1e3c53; border-right:1px solid #fff;  }

/* Calender css */
#calendarDiv{ border:1px solid #ffffff; background: #DBE8F0; color:#1474D4; }
#calendarDiv .selectBox{ border:1px solid #E9F1F6; color:#ffffff; }
#calendarDiv .selectBoxOver{ border:1px solid #FFF; background: #1E3C53; color: #1474D4; }
#calendarDiv .topBar{ background: #1E3C53; }
#calendarDiv .activeDay{	color:#ffffff; }
#calendarDiv .todaysDate{ background: #E9F1F6; }
#calendarDiv .monthYearPicker{ background: #E9F1F6; color: #1474D4; }
#calendarDiv .monthYearActive{ background:#C8E0F5; color: #1474D4; }
/* SEARCH ********************/
.search_form h3, .property_id_search h3 { color:#ffedda; border-bottom:1px dotted #cdb9a2; text-shadow:1px 1px 1px #333; background:url(../images/find.png) no-repeat left 2px; }
.search_row span { color:#fffcef; text-shadow:1px 1px 1px #333; }
.search_row .select, .search_row .textfield, .property_id_search .textfield  { color:#737373; background:#fff; }
.search_row .select:focus, .search_row .textfield:focus, .property_id_search .textfield:focus  { color:#534943; border:1px solid #6f6255; background:#fcf8ea; }


.search_row .textfield:focus { background:#fff;   }
.b_search_properties a { background:#624434 url(1-default/b_searchproperties.png) no-repeat left top; color:#f0f0f0;}
.b_search_properties a:hover { background-position:0 -31px; color:#f0f0f0; }

.property_id_search { background:url(1-default/search_sepretor.png) no-repeat left top;}
.searchbottom { background:url(1-default/i-searchbottom.png) no-repeat left bottom;}

.author_details { background: #f1f8fb; border: 1px solid #89b0ca; }

.i_agent_others { color: #3A739F; }

/*	--------------------------------------------------
	:: Tablet (Portrait)
	-------------------------------------------------- */

@media only screen and (min-width: 768px) and (max-width: 960px) {
	
	#wrapper { background:url(1-default/wrapperbg_tablet.png) repeat-y left top; }
	#sidebar {padding-right: 10px;}
	#bottom { background:url(1-default/bottombg_tablet.png) no-repeat left top; }
	.fullpage_bg {background: url(1-default/fullpagebg_tablet.png) repeat-y scroll left top transparent !important;}
	.fullpage_bottombg { background:url(1-default/fullpage_bottombg_tablet.png) repeat-y left top!important; }
	

}

/*	--------------------------------------------------
	:: Mobile (Landscape)
	-------------------------------------------------- */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	#wrapper { background:url(1-default/wrapperbg_mobile.png) repeat-y left top; }
	#bottom { background:url(1-default/bottombg_mobile.png) no-repeat left top; }
	.fullpage_bg {background: url(1-default/wrapperbg_mobile.png) repeat-y scroll left top transparent !important;}
	.fullpage_bottombg { background:url(1-default/bottombg_mobile.png) repeat-y left top!important; }

}

/*	--------------------------------------------------
	:: Mobile (Portrait)
	-------------------------------------------------- */

@media only screen and (min-width: 320px) and (max-width: 479px) {
	
	#wrapper { background:url(1-default/wrapperbg_smobile.png) repeat-y left top; }
	#bottom { background:url(1-default/bottombg_smobile.png) no-repeat left top; }
	.fullpage_bg {background: url(1-default/wrapperbg_smobile.png) repeat-y scroll left top transparent !important;}
	.fullpage_bottombg { background:url(1-default/bottombg_smobile.png) repeat-y left top!important; }
	
}
